query {
  getPayment(Id: "ed8dd87a-ff78-4c87-b44f-de5b5f5d0458") {
    numeroPago
    fecha
    paisOrigen
    paisDestino
    monto
    comprobantePago
    monedaDestino
    monedaOrigen
    estado
    transacciones {
      comprobanteTransaccion
      monto
      tipoTransaccion
      banco
      numeroCuenta
    }
  }
}